{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Tin Nhắn {% endblock %}
{% block search %}
{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'adminIndex' %}"><span class="glyphicon glyphicon-home"></span> Danh Sách Xe</a></li>
        <li><a href="{% url 'order_list' %}"><span class="glyphicon glyphicon-tags"></span> Danh Sách Đặt Xe</a></li>
        <li><a href="{% url 'adminquote' %}"><span class="glyphicon glyphicon-tags"></span> Báo Giá</a></li>
        <li><a href="{% url 'message' %}"><span class="glyphicon glyphicon-envelope"></span> Tin Nhắn</a></li>
        <li><a href="{% url 'admin_blog' %}"><span class="glyphicon glyphicon-list"></span> Blog</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Thoát</a></li>
      </ul>
    </div>
{% endblock %}
{% block body %}
<div class='container table-responsive'>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><h5><strong><span class="glyphicon glyphicon-list"></span> Danh Sách Khách Hàng</strong></h5> </div>
    <div class="panel-body">
  <!-- Table -->
  {% if user.is_superuser %}
  <a href="{% url 'export_users_xls' %}"><button type="button" class="btn btn-info">In thông tin khách hàng</button></a>
     <!-- search box-->
      <form method="GET" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm" value="{{request.GET.q}}" name="q">
        </div>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Tìm Kiếm</button>
      </form>
  <!-- Table -->
  <table class="table table-bordered table-striped table-hover">
   <tr>
    <td><strong>User</strong></td>
    <td><strong>Số Điện Thoại</strong></td>
    <td><strong>Địa Chỉ</strong></td>
  </tr>
      <tbody>
      {% for ob in profile %}
    <tr>
    <td>{{ob.user}}</td>
    <td>{{"0"}}{{ob.số_điện_thoại}}</td>
    <td>{{ob.địa_chỉ}}</td>
    </tr>
    {% endfor %}
</tbody>
  </table>
{% endif %}
<nav>
  <ul class="pager">
    <li class="previous">{% if profile.has_previous %}
            <a href="?page={{ movie.previous_page_number }}" style="background-color:#1aa3ff !important; color: white !important;"><span aria-hidden="true">&larr;</span> Trang trước</a>
    {% endif %}
    </li>
      <li class="previous" style="color: black !important;">
          Trang {{ profile.number }} / {{ profile.paginator.num_pages }}.
    </li>
    <li class="next">{% if profile.has_next %}
            <a href="?page={{ movie.next_page_number }}" style="background-color:#1aa3ff !important; color: white !important;">
        Trang sau <span aria-hidden="true">&rarr;</span></a>{% endif %}</li>
  </ul>
</nav>
        <hr>
</div>
</div>
</div> <!--end container-->
{% endblock %}