{% extends 'base.html' %}
{% block title %} Trang Admin {% endblock %}

{% block delete_confirm %}
<script type="text/javascript">
          < !--
    function getConfirmation() {
      var retVal = confirm("Do you want to Delete ?");
      if (retVal) return true;
      else return false;
    }
          //-->
</script>
{% endblock %}
{% block search %}
{% endblock %}
{% block nav %}

<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'order_list' %}"><span class="glyphicon glyphicon-tags"></span> Danh Sách Đặt Xe</a></li>
    <li><a href="{% url 'message' %}"><span class="glyphicon glyphicon-envelope"></span> Tin Nhắn</a></li>
    <li><a href="{% url 'adminquote' %}"><span class="glyphicon glyphicon-tags"></span> Báo Giá</a></li>
    <li><a href="{% url 'message' %}"><span class="glyphicon glyphicon-envelope"></span> Tin Nhắn</a></li>
    <li><a href="{% url 'admincustomer' %}"><span class="glyphicon glyphicon-alert"></span> Khách Hàng</a></li>
    <li><a href="{% url 'admin_blog' %}"><span class="glyphicon glyphicon-list"></span> Blog</a></li>
    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Thoát</a></li>
  </ul>
</div>

{% endblock %}
{% block body %}
<div class='container table-responsive'>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h5><strong><span class="glyphicon glyphicon-list"></span> Danh Sách Tất Cả Các Xe</strong></h5>
    </div>
    <div class="panel-body">
      <strong class="navbar-form navbar-left" style="color: #5f5f5f;"><span class="glyphicon glyphicon-cog"></span> Tối
        đa 25 xe/trang </strong>

      <!-- search box-->
      <form method="GET" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm xe" value="{{request.GET.q}}" name="q">
        </div>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Tìm Kiếm</button>
      </form>

      {% if user.is_superuser %}
      <!-- Table -->
      <div class="pull-right">
        <a href="{% url 'export_car_xls' %}"><button type="button" class="btn btn-info">In thông tin xe</button></a>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <td><strong>Tên Xe</strong></td>
          <td><strong>Tên Công Ty</strong></td>
          <td><strong>Số Chỗ</strong></td>
          <td><strong>Chi Phí / Ngày (VND)</strong></td>
          <td><strong>Lượt Thích</strong></td>
          <td><strong>Trạng Thái</strong></td>
          <td><strong>Sửa Đổi</strong></td>
        </tr>
        <tbody>
          {% for ob in car %}
          <tr>
            <td>{{ob.tên_xe}}</td>
            <td>{{ob.tên_công_ty}}</td>
            <td>{{ob.số_ghế}}</td>
            <td>{{ob.giá_tham_khảo}}</td>
            <td>{{ob.lượt_thích}}</td>
            <td>{{ob.status}}</td>
            <td>
              <a href="{% url 'car_create' %}"><button type="button" class="btn btn-outline-danger"><span
                    class="glyphicon glyphicon-plus"></span></button></a>
              <a href="{% url 'car_detail' ob.id %}"><button type="button" class="btn btn-info"><span
                    class="glyphicon glyphicon-eye-open"></span></button></a>
              <a href="{% url 'car_edit' ob.id %}"><button type="button" class="btn btn-warning"><span
                    class="glyphicon glyphicon-pencil"></span></button></a>
              <a href="{% url 'car_delete' ob.id %}"><button type="button" class="btn btn-danger"
                  onclick="return getConfirmation()"><span class="glyphicon glyphicon-trash"></span></button></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <nav>
        <ul class="pager">
          <li class="previous">{% if car.has_previous %}
            <a href="?page={{ movie.previous_page_number }}"
              style="background-color:#1aa3ff !important; color: white !important;"><span
                aria-hidden="true">&larr;</span> Trang trước</a>
            {% endif %}
          </li>
          <li class="previous" style="color: black !important;">
            Trang {{ car.number }} / {{ car.paginator.num_pages }}.
          </li>
          <li class="next">{% if car.has_next %}
            <a href="?page={{ movie.next_page_number }}"
              style="background-color:#1aa3ff !important; color: white !important;">
              Trang sau <span aria-hidden="true">&rarr;</span></a>{% endif %}</li>
        </ul>
      </nav>
      <hr>
    </div>
  </div>
</div>
<!--end container-->
{% endblock %}