{% extends 'base.html' %}
{% block title %} Chi Tiết Về {{detail.title}} {% endblock %}

{% block body %}

{% block search %}
{% endblock %}
<br>
<div class ='col-sm-6 col-sm-offset-3'>
<h2><span  style="color:red">{{detail.title}}</span></h2>

  {% if detail.image %}
  <img src='{{ detail.image.url }}' class="img-responsive"/>
  {% endif %}
  <h3><strong>{{detail.text}}</strong></h3>
  <p>{{detail.date}}</p>
  <p>{{detail.variables}}</p>
  <div class="pull-right">
    {% comment %} <a href="{% url 'newblog' %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Thêm Blog</button></a> {% endcomment %}
  <hr>
  </div>
</div>
{% endblock %}