{% extends 'base.html' %}
{% block title %} Chi Tiết Về {{detail.tên_xe}} {% endblock %}

{% block body %}

{% block search %}
{% endblock %}
<br>
<div class ='col-sm-6 col-sm-offset-3'>
  <div class="list-group-item active">
    <strong><span class="glyphicon glyphicon-film"></span> Thông Tin Chi Tiết</strong>
  </div>
  {% if detail.hình_ảnh %}
  <img src='{{ detail.hình_ảnh.url }}' class="img-responsive"/>
  {% endif %}
  <a href="" class="list-group-item"><strong>Tên Xe: </strong>{{detail.tên_xe}}</a>
  <a href="" class="list-group-item"><strong>Tên Công Ty   : </strong>{{detail.tên_công_ty}}</a>
  <a href="" class="list-group-item"><strong>Số Ghế Ngồi   : </strong>{{detail.số_ghế}}</a>
  <a href="" class="list-group-item"><strong>Giá / ngày   : </strong>{{detail.giá_tham_khảo}} VND</a>
  <a href="" class="list-group-item"><strong>Lượt Thích   : </strong>{{detail.lượt_thích}}</a>
  <a href="" class="list-group-item"><strong>Thông Tin Khác   : </strong>{{detail.nội_dung}}</a><br>
  <div class="pull-right">
    <a href="{% url 'newcar' %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Xe Mới Cập Nhật</button></a>
    <a href="{% url 'order_create' %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-list"></span> Đặt Xe</button></a>
  <hr>
  </div>
</div>
{% endblock %}