{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Liên Hệ Với Chúng Tôi {% endblock %}

{% block search %}

{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'car_list' %}"><span class="glyphicon glyphicon-list"></span>Danh Sách Xe</a></li>
        <li><a href="{% url 'quote' %}"><span class="glyphicon glyphicon-info-sign"></span> Báo Giá</a></li>
        <li><a href="{% url 'blog_list' %}"><span class="glyphicon glyphicon-list"></span>Blog</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Thoát</a></li>
      </ul>
    </div>
{% endblock %} 
{% block body %}
<div class ='col-sm-5 col-sm-offset-3'>
    <h1>{{ title }}</h1><hr>
    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Gửi"/>
        </div>
</form>
</div>
<div id="contact" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-21">
    <br><br>
      <p>Chúng tôi sẽ phản hồi bạn trong vòng 24 giờ (từ lúc bạn gửi Email)</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> TP. Hồ Chí Minh, Việt Nam</p>
      <p><span class="glyphicon glyphicon-phone"></span> +09 38.358.309</p>
      <p><span class="glyphicon glyphicon-phone"></span> +09 38.100.229</p>
      <p><span class="glyphicon glyphicon-envelope"></span> info.hoanggiavn@gmail.com</p>
    </div>
  </div>
</div>
{% endblock %}
