{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Cập Nhật Thông Tin {% endblock %}

{% block search %}

{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'car_list' %}"><span class="glyphicon glyphicon-list"></span>Danh Sách Xe</a></li>
        <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-envelope"></span> Liên Hệ</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Thoát</a></li>
      </ul>
    </div>
{% endblock %}
{% block body %}
<div class ='col-sm-5 col-sm-offset-3'>
  <strong><h2 style="color: red"> Cập Nhật Thông Tin </h2></strong>
    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Cập Nhật"/>
        </div>
</form>
</div>
{% endblock %}